.swiper-slide picture > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #e1e4e6;
}

.colors .item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #edeeef;
  transition: all 0.3s ease-in-out;
}

.list .item.active::after {
  content: "î¥";
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  font-family: icon;
  color: #fff;
  font-size: 5px;
  line-height: 1;
  padding-right: 2px;
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 16px;
  height: 16px;
  text-align: right;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background: #4391fb;
}

.block-promotion-body li {
  display: flex;
  align-items: center;
  padding: 4px 12px;
}
.block-promotion .radio {
  margin-left: 0;
}

.block-promotion-body li > div {
  flex: 1;
  margin-left: 8px;
}

.checkbox,
.radio {
  display: flex;
  align-items: center;
}

.ic-check {
  font-size: 10px;
  line-height: 1;
  color: #ffffff;
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #48bb78;
  border-radius: 1000px;
}

.btn-link:hover {
  background: #044dd6;
  border: 1px solid #044dd6;
}

.item__name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.detail__post .content div,
.detail__post .content p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #6a737a;
  margin-bottom: 40px !important;
}

.radio input {
  position: relative;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  display: block;
}

.radio input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  transform: scale(0);
  content: "";
  display: block;
  border-radius: 50%;
}

.radio input[type="radio"]:after {
  width: 16px;
  height: 16px;
  position: relative;
  top: 0;
  border-color: #cbd1d6;
  border-width: 1px;
  border-style: solid;
  background: #fff;
  content: "";
  display: block;
  border-radius: 50%;
}

.item.active .radio input[type="radio"]:after {
  width: 16px;
  height: 16px;
  position: relative;
  top: 0;
  border-color: #cbd1d6;
  border-width: 1px;
  border-style: solid;
  background: #0664f9;
  content: "";
  display: block;
  border-radius: 50%;
}

/* #99c2fa */
/* 
.item.active .radio input:before {
  transform: scale(0.625);
  z-index: 2;
  background: #0664f9;
} */

.item.dataCombo.active {
  border-color: #4391fb;
}

a.text-link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #0664f9;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  padding: 2px 2px 2px 2px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #cb1c22;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.out-of-stock.form-group {
  background-color: #f8f9fa;
  padding: 24px 40px;
  border: 1px solid #e1e4e6;
  border-radius: 6px;
}
.out-of-stock .form-head {
  margin-bottom: 16px;
  text-align: center;
}
.out-of-stock .form-head .form-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #212529;
}
.out-of-stock .form-head .form-subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #444b52;
}

.out-of-stock .form-content .info .info-item {
  width: calc(50% - 8px);
}
.out-of-stock .form-content input {
  padding: 5px 11px;
  border: 1px solid #cbd1d6;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #939ca3;
  width: 100%;
}

.out-of-stock .form-submit .btn-signup {
  height: 48px;
  padding: 0 38px;
}
.btn-link {
  color: #fff;
  background: #0664f9;
  outline: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  font-family: inherit;
  border-radius: 4px;
  padding: 16px 24px;
  transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
  border: 1px solid transparent;
  cursor: pointer;
}
