
.dot::before {
    position: absolute;
    content: "";
    top: 50%;
    right: -10px;
    transform: translate(50%,-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #939ca3;
    z-index: 1;
}