.Cate__item{
    /* scale:1; */
    transition: all .3s ease;
    scale:1;
}

.Cate__item:hover{
    scale:1.1;
    border: none;
    /* transform: translateY(-14px); */

}


.cateimg:hover{

}